img{
    width: 25px
}
.scrollable{
    overflow-y: scroll;
    width: 400px;
    height: 800px;
}

div{
    /* border: 2px solid blue; */
    border-radius: 1%;
    padding: 25px;
}

li{
    color:aqua;
    border-style: groove;
    border-width: 10px;
    margin: 0%;
    padding: 0% ;
}

.content{
    margin: 10px;
    border-color: crimson;
    border-width: 5px;

}

.info{
    margin: 0%;
    padding: 0%;
    border-radius: 1%;
}

.redGUI{
    background: #F88379;
    /* height:100%;
    width: 100%; */
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  .pInfo{
    font-weight: bold;
  }